@page
@model TimeModel
@using Microsoft.AspNetCore.Mvc.RazorPages

@functions {
    public class TimeModel : PageModel
    {
        public string Message { get; private set; }

        public void OnGet()
        {
            Message = $" Server seconds  { DateTime.Now.Second.ToString() }";
        }
    }
}

<h2>Server Seconds using @@Model</h2>
<p>
    @Model.Message
</p>