@page "/BlazorRocks"
@*
    The inherit directive provides the properties and methods
    of the BlazorRocksBase class to this component.
*@
@inherits BlazorRocksBase

<h1>@BlazorRocksText</h1>

<h2>BlazorRocks.cshtml</h2>

<p>
    The heading content is supplied by a property in 
    the <code>BlazorRocksBase</code> class in another 
    file, <em>BlazorRocksBase.cs</em>. 
    <code>BlazorRocksBase</code> is inherited using 
    the <code>@@inherits BlazorRocksBase</code> 
    directive.
</p>

<pre><code>@@inherits BlazorRocksBase

&lt;h1&gt;@@BlazorRocksText&lt;/h1&gt;</code></pre>

<h2>BlazorRocksBase.cs</h2>

<pre><code>using Microsoft.AspNetCore.Blazor.Components;

public class BlazorRocksBase : BlazorComponent
{
    public string BlazorRocksText { get; set; } = 
        "Blazor rocks the browser!";
}</code></pre>
