div.contacts-grid {
    max-width: 80em;
    float: left;
}
div.contact-header {
    font-weight: bold;
}

div.contact-header > div, div.contact-detail > div {
    border: 1px solid black;
    padding: 5px;
}

div.contact-header:hover {
    background: lightgreen;
    cursor: pointer;
}

div.contact-detail:hover {
    background: lightgray;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    background: #d6d5d5;
}
