@code {
    private EditContext editContext;
    private string formInvalid;
    private object model;
}

<!-- <snippet> -->
@implements IDisposable

<EditForm EditContext="@editContext">

    ...

    <button type="submit" disabled="@formInvalid">Submit</button>
</EditForm>

@code {
    // ...

    protected override void OnInitialized()
    {
        editContext = new(model);
        editContext.OnFieldChanged += HandleFieldChanged;
    }

    private void HandleFieldChanged(object sender, FieldChangedEventArgs e)
    {
        // ...
    }

    public void Dispose()
    {
        editContext.OnFieldChanged -= HandleFieldChanged;
    }
}
<!-- </snippet> -->
