@page
@model IndexModel
@{
    ViewData["Title"] = "Response Caching Sample";
}

<h1>@ViewData["Title"]</h1>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Instructions</h3>
    </div>
    <div class="panel-body">
        <p>This sample illustrates the usage of response caching in ASP.NET Core to accompany <a href="https://docs.microsoft.com/aspnet/core/performance/caching/response">Response caching in ASP.NET Core</a>.</p>
        <p>Use broswer tools to see the response headers of the cache pages after they load.</p>
    </div>
</div>
