<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>@ViewData["Title"] - ControllerDepInjection</title>
    </head>
    <body>
        <div class="container body-content">
            @RenderBody()
        </div>
    </body>
</html>
