@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebAPI.IndexModel
@{
    Layout = null;
}

<div class="text-center">
    <h1 class="display-4">CORS Test</h1>
</div>

<div>
    <span id='result'></span>
</div>

<ul>
    <li>
        <input type="button" value="Values"
               onclick="requestVal('/api/values')" />
    </li>

    <li>
        <input type="button" value="PUT test"
               onclick="TestCors( '/api/values/5', 'PUT')" />
    </li>



    <li>
        <input type="button" value="GetValues2 [DisableCors]"
               onclick="requestVal('/api/values/GetValues2')" />
    </li>
</ul>

<script>
    function requestVal(uri) {
        const resultSpan = document.getElementById('result');

        fetch('@Model.Host' + uri)
            .then(response => {
                if (response.ok) {
                    response.text().then(text => {
                        resultSpan.innerText = text;
                    });
                }
                else {
                    resultSpan.innerText = response.status;
                }
            })
            .catch(error => resultSpan.innerText = 'See F12 Console for error');
    }

    function TestCors(uri, methodName) {
        const resultSpan = document.getElementById('result');

        fetch('@Model.Host' + uri,
            {
                method: methodName,

            }).then(response => {
                if (response.ok) {
                    response.text().then(text => {
                        resultSpan.innerText = text;
                    });
                }
                else {
                    resultSpan.innerText = response.status;
                }
            })
            .catch(error => resultSpan.innerText = 'See F12 Console for error');
    }

</script>
