@page
@model WebAPI.TestModel
@{
    Layout = null;
}

<div class="text-center">
    <h1 class="display-4">CORS Test</h1>
</div>


<div>
    <span id='result'></span>
</div>

<div>
    <input type="button" value="Values"
           onclick="requestVal('api/values')" />
</div>

<div>
    <input type="button" value="Echo"
           onclick="requestVal2('echo')" />
</div>

<div>
    <input type="button" value="Echo2"
           onclick="requestVal2('echo2')" />
</div>

<div>
    <input type="button" value="Index"
           onclick="requestVal2('Index')" />
</div>

<div>
    <input type="button" value="PUT/Delete test"
           onclick="PutVal('api/TodoItems/5', 'PUT')" />
</div>

<div>
    <input type="button" value="Delete test"
           onclick="DeleteVal('api/TodoItems/5', 'DELETE')" />
</div>

<div>
    <input type="button" value="GET API test"
           onclick="requestVal2('api/TodoItems')" />
</div>

<script>
    var host = 'https://cors1.azurewebsites.net';

    function requestVal(uri) {
        const resultSpan = document.getElementById('result');

        fetch(uri)
            .then(response => response.json())
            .then(data => resultSpan.innerText = data)
            .catch(error => resultSpan.innerText = 'See F12 Console for error');
    }

    function requestVal2(uri) {
        const resultSpan = document.getElementById('result');

        fetch(host + uri)
            .then(response => {
                if (response.ok) {
                    response.text().then(text => {
                        resultSpan.innerText = text;
                    });
                }
                else {
                    resultSpan.innerText = response.status;
                }
            })
            .catch(error => resultSpan.innerText = 'See F12 Console for error');
    }

    function PutVal(uri, methodName) {
        const resultSpan = document.getElementById('result');

        fetch(host + uri,
            {
                method: methodName,
                headers:
                {
                    "Content-Type": "x-my-custom-header"
                }

            }).then((response) => {
                resultSpan.innerText = response.status;
            });
    }
</script>
