@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@ViewData["configProviders"]

<p> </p>
Environment:
<environment include="Development">
    Development
</environment>
<environment include="Production ">
    Production
</environment>