@page
@model Test22Model

<p>This content is never used. The preceding directives are required in Razor Pages.</p>

@*
    Run the following from the command line to test the command line provider:

dotnet run MyKey="My key from command line" Position:Title=Cmd_Editor Position:Name=Cmd_Rick
*@