@page
@model Test3Model

<p>This content is never used. The preceding directives are required in Razor Pages.</p>

Test with the following:

dotnet run -k1=value1 -k2 value2 --alt3=value2 /alt4=value3 --alt5 value5 /alt6 value6
dotnet run -k1 value1 -k2 value2 --alt3=value2 /alt4=value3 --alt5 value5 /alt6 value6