@using Microsoft.AspNetCore.Mvc.ViewFeatures
@using PartialViewsSample.ViewModels
@model Article

<h2>@Model.Title</h2>
@Html.Partial("AuthorPartial", Model.AuthorName)
@Model.PublicationDate

@foreach (var section in Model.Sections)
{
    @Html.Partial("ArticleSection", section, new ViewDataDictionary (ViewData){ { "Article", Model } })
}