# Lines starting with '#' are comments.

# Order is important. The last matching pattern has the most precedence.

/aspnetcore/blazor/ @guardrex
/client-side/dotnet-interop/index.md @guardrex
/client-side/dotnet-interop/wasm-browser-app.md @guardrex
/mvc/views/tag-helpers/built-in/component-tag-helper.md @guardrex
/mvc/views/tag-helpers/built-in/persist-component-state.md @guardrex
