@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

@*Add TH       FQN                            , DLL  *@
@addTagHelper "TagHlp.TagHelpers.BoldTagHelper, TagHlp"

<p>Use this area 
<section bold> to provide additional </section>   
 information.</p>
<bold> Is this bold?</bold>