@page
@model Create2DotModel

<html>
<body>
    <p>
        RedirectToPage("../Index");
    </p>
    <div asp-validation-summary="All"></div>
    <form method="POST">
        <div>Name: <input asp-for="Customer.Name" /></div>
        <input type="submit" />
    </form>
</body>
</html>