<h3>Credits</h3>

<div>
    <p>
        The author of this sample is Marcus GABRIEL (<a href="mailto:m.gabriel@aycad.com">m.gabriel@aycad.com</a>), and this sample has been uploaded with
        the kind permission of <a href="https://www.aycad.com">Aycad</a> in France.  This contribution by <a href="https://www.aycad.com">Aycad</a>
        is considered public domain.
    </p>
</div>
