@page
@model WebAddress.Pages.Adr.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Address</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Address.Id" />
            <div class="form-group">
                <label asp-for="Address.FirstName" class="control-label"></label>
                <input asp-for="Address.FirstName" class="form-control" />
                <span asp-validation-for="Address.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.MiddleName" class="control-label"></label>
                <input asp-for="Address.MiddleName" class="form-control" />
                <span asp-validation-for="Address.MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.LastName" class="control-label"></label>
                <input asp-for="Address.LastName" class="form-control" />
                <span asp-validation-for="Address.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.Street" class="control-label"></label>
                <input asp-for="Address.Street" class="form-control" />
                <span asp-validation-for="Address.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.City" class="control-label"></label>
                <input asp-for="Address.City" class="form-control" />
                <span asp-validation-for="Address.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.State" class="control-label"></label>
                <input asp-for="Address.State" class="form-control" />
                <span asp-validation-for="Address.State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address.Zipcode" class="control-label"></label>
                <input asp-for="Address.Zipcode" class="form-control" />
                <span asp-validation-for="Address.Zipcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
