@page
@model RPgoog2.Pages.AccessDeniedPathInfoModel
@{
    ViewData["Title"] = "AccessDeniedPathInfo";
}

<h1>AccessDeniedPathInfo</h1>

<p>
    Remote authentication was canceled. This app requires authentication. To try again, select the Login link.
</p>