@page
@model ContactModel2
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<div>
    Rename this file to Contact.cshtml to override the class view.
</div>

<partial name="_Message" />

