@model User
@{
    ViewData["Title"] = "Check Phone";
}

<h2>Check Phone</h2>
<form asp-action="CheckPhone">
    <div class="form-horizontal">
        <h4>User Phone Number</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <ol>
                <li>Enter a phone number with a valid format (format: ###-###-####). Validate accepts the phone number.</li>
                <li>Enter a different phone number with an invalid format (for example: too short or with non-numerical characters). Validation fails.</li>
                <li>Because the <code>&lt;input&gt;</code> element for the phone number includes the <code>required</code> attribute, jQuery client-side validation requires the visitor to provide a value.</li>
            </ol>
            <label asp-for="Phone" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Validate" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

