@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}

<h1>@ViewData["Title"]</h1>
<h2>@Model.Message</h2>

<address>
    Contoso Ltd.<br>
    One Microsoft Way<br>
    Redmond, WA 98052-6399<br>
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:support@contoso.com">support@contoso.com</a><br>
    <strong>Marketing:</strong> <a href="mailto:marketing@contoso.com">marketing@contoso.com</a>
</address>
