@page
@model PrivacyModel
@{
    ViewData["Title"] = "RP Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>RP: Use this page to detail your site's privacy policy.</p>

<p>The following inmage doesn't display with app.UseStaticFiles(new StaticFileOptions </p>
<img src="~/images/MyImage.jpg" class="img" alt="My image" asp-append-version="true" />
<p> The following image requires app.UseStaticFiles(new StaticFileOptions</p>
<img src="~/StaticFiles/images/red-rose.jpg" class="img" alt="A red rose"
     asp-append-version="true" />
