@page
@model TestModel
@{
    ViewData["Title"] = "Test ~/MyStaticFIles";
}
<h1>@ViewData["Title"]</h1>

<p> Test of /MyStaticFiles/image3.png</p>
<img src="~/image3.png" class="img" asp-append-version="true" alt="Test">
