@page
@model LoginModel
@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <form method="post">
        <h2>Use a local account to log in.</h2>
        <hr>
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email">
            <span asp-validation-for="Input.Email"></span>
        </div>
        <div>
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password">
            <span asp-validation-for="Input.Password"></span>
        </div>
        <div>
            <button type="submit">Log in</button>
        </div>
    </form>
</div>
