@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<!-- <snippet_CacheCurrentDateTime> -->
<ul>
	<li>Current Time: @Model.CurrentDateTime</li>
	<li>Cached Time: @Model.CacheCurrentDateTime</li>
</ul>
<!-- </snippet_CacheCurrentDateTime> -->
