<div class="main-nav">
    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Components Sample</a>
        </div>
        <div class="clearfix"></div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <NavLink href="/" Match=NavLinkMatch.All>
                        <span class="glyphicon glyphicon-home"></span> Home
                    </NavLink>
                </li>
                <li>
                    <NavLink href="/BlazorRocks">
                        <span class="glyphicon glyphicon-th-list"></span> Blazor Rocks!
                    </NavLink>
                </li>
                <li>
                    <NavLink href="/BlazorRoute">
                        <span class="glyphicon glyphicon-th-list"></span> Blazor Route
                    </NavLink>
                </li>
                <li>
                    <NavLink href="/DifferentBlazorRoute">
                        <span class="glyphicon glyphicon-th-list"></span> Different Blazor Route
                    </NavLink>
                </li>
                <li>
                    <NavLink href="/ParentComponent">
                        <span class="glyphicon glyphicon-th-list"></span> Parent-child Example
                    </NavLink>
                </li>
                <li>
                    <NavLink href="/RouteParameter">
                        <span class="glyphicon glyphicon-th-list"></span> Route Parameter
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</div>
