@using System.Threading.Tasks
@using DependencyInjectionSample.Models
@{
    ViewData["Title"] = "MyDependency";
}

<h1>MyDependency</h1>

<p>The <code>MyDependencyController</code> has called the <code>IMyDependency</code> implemention (<code>MyDependency</code>). The service's <code>WriteMessage</code> method was called with a message string that indicates the controller called the method on the service. The <code>WriteMessage</code> method created a log entry with the message string.</p>
