@page
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


    <h2>Hello from a Razor UI class library!</h2>
    <p> From  RazorUIClassLib\Areas\MyFeature\Pages\Page1.cshtml</p>

    zz

    <partial name="_Message" />