@page "/parse-query-string"
@inject IJSRuntime JS;

<p>
    @message
</p>

@code {
    private string message = "A query string value for 'ship' isn't present.";

    protected override async Task OnInitializedAsync()
    {
        var shipQueryValue = 
            await JS.InvokeAsync<string>("getQueryParamValue", "ship");

        if (!string.IsNullOrEmpty(shipQueryValue))
        {
            message = $"The query string value for 'ship' is '{shipQueryValue}'.";
        }
    }
}
