<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
        body {
            margin: 0;
            padding-bottom: 20px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 18px; 
            color: #333
        }
        
        h1 {
            font-size: 36px;
            margin-top: 20px;
            margin-bottom: 15px;
            font-weight: 500
        }
        
        h2 {
            font-weight:500
        }
        
        :before, *:after {
            box-sizing: border-box;
        }
        
        p {
            margin: 0 0 10px;
        }
        
        .container {
            padding-right: 15px; 
            padding-left: 15px; 
            margin-right: auto; 
            margin-left: auto; 
            width: 800px; 
        }
        
        .container:before, .container:after {
            display: table; 
            content: " ";
        }
        
        .container:after {
            clear: both;
        }
        
        .body-content {
            padding-left: 15px;
            padding-right: 15px;
        }
        </style>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>
