@page
@model HttpRequestsSample.Pages.OperationModel

@{
    ViewData["Title"] = "Operation";
}

<h1>Operation</h1>

<div>Request Scope: @Model.OperationIdFromRequestScope</div>
<div>Handler Scope: @Model.OperationIdFromHandlerScope</div>
