@page
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p> Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") =
    @Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT")
</p>

<!-- dotnet run --environment Production doesn't change the environment
    variable ASPNETCORE_ENVIRONMENT. In development environments, when the 
    hosting environment is production the environment variable is development.
-->

<p> @hostingEnv.EnvironmentName = @hostingEnv.EnvironmentName</p>

<!-- <snippet_Environment> -->
<environment include="Development">
    <div>The effective tag is: &lt;environment include="Development"&gt;</div>
</environment>
<environment exclude="Development">
    <div>The effective tag is: &lt;environment exclude="Development"&gt;</div>
</environment>
<environment include="Staging,Development,Staging_2">
    <div>
        The effective tag is:
        &lt;environment include="Staging,Development,Staging_2"&gt;
    </div>
</environment>
<!-- </snippet_Environment> -->
