@page
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p> Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") =
    @Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT")
</p>

<!-- dotnet run --environment Production doesn't change the environment
    variable ASPNETCORE_ENVIRONMENT. In development environments, when the 
    hosting environment is production the environment variable is development.
-->

<p> @hostingEnv.EnvironmentName = @hostingEnv.EnvironmentName</p>

<!-- <snippet_Environment> -->
<environment include="Development">
    <div>Environment is Development</div>
</environment>
<environment exclude="Development">
    <div>Environment is NOT Development</div>
</environment>
<environment include="Staging,Development,Staging_2">
    <div>Environment is: Staging, Development or Staging_2</div>
</environment>
<!-- </snippet_Environment> -->
