@page
@model Page2Model
@{
    ViewData["Title"] = "OtherPages/Page2";
}

<h1>@ViewData["Title"]</h1>
<h2>@Model.Message</h2>

<p>@Model.RouteDataGlobalTemplateValue</p>

<p>@Model.RouteDataOtherPagesTemplateValue</p>
