@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<img src="~/images/MyImage.jpg"  class="img" alt="My image" />

<p>
    Red Rose requires <br />
    webBuilder.UseStartup&lt;StartupRose&gt;();
</p>

<img src="~/StaticFiles/images/red-rose.jpg" class="img" alt="A red rose" />