@model System.Collections.Generic.List<mvcOrderManagerSample.Models.OrderModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<h2>My Orders</h2>
<table>

    <tr.>
        <th>Order ID</th>
        <th>Client</th>
        <th>Cost</th>
        <th>Description</th>

    </tr.>

    @foreach (var order in Model)
    {
        <tr>
            <td>@Html.ActionLink(order.OrderID.ToString(), "GetByOrderID", "Orders", new { orderId = order.OrderID })</td>
            <td>@order.Client</td>
            <td>$@order.Cost</td>
            <td>@order.Description</td>
        </tr>
    }


</table>