@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Orders Help Page</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dictum mauris at diam pharetra, a rhoncus magna lobortis. Mauris lacinia magna massa, ut dapibus ligula cursus in. Aliquam vel dolor lectus. Etiam blandit non odio at lobortis. Aliquam erat volutpat. Nullam libero nisl, porttitor sit amet fermentum vel, luctus nec massa. Phasellus in erat vitae enim tempus imperdiet. In non felis quis ante ultricies ultricies. Curabitur finibus enim vitae gravida bibendum. Sed hendrerit vitae mauris at scelerisque. Vivamus aliquam laoreet odio, at porttitor neque condimentum ac. Nullam ornare finibus felis a suscipit. Cras pellentesque sem vel semper consequat. Aenean ullamcorper non ligula a dignissim. Aenean purus nunc, luctus quis nisi in, efficitur sollicitudin purus.
</p>