@{
    ViewData["Title"] = "Home Page";
}
<h1>Custom Identity Sample</h1>

<ol>
    <li>Create the database CustomProvider</li>
    <li>Run the CreateCustomidentityTables.sql script</li>
    <li>Register and sign in</li>
</ol>