@page
@model RoutingSample.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>
        URL =  @ViewData["URL"]
    </p>

</div>
