@{
    Layout = "";
}
<html>
<body ng-app="personApp">
    <h1>Controllers</h1>

    <div ng-controller="personController">
        <strong>First Name:</strong> {{firstName}} <br />
        <strong>Last Name:</strong> {{lastName}}
    </div>

    <script src="~/lib/angular/angular.js"></script>
    <script src="~/app/controllers.js"></script>
</body>
</html>