@{
    Layout = "";
}
<html>
<body ng-app>
    <h1>Expressions</h1>

    <div ng-init="personName='John Doe'">
        Person's name is: {{personName}} <br />
        Simple JavaScript calculation of 1 + 2: {{1+2}}
    </div>

    <script src="~/lib/angular/angular.js"></script>
</body>
</html>