@model FormsTH.ViewModels.CountryViewModelGroup
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"

<form asp-controller="Home" asp-action="IndexGroup" method="post">
    <select asp-for="Country" asp-items="Model.Countrys"></select> 
    <br /><button type="submit">Register</button>
</form>
