@model FormsTH.ViewModels.CountryViewModelIEnumerable
@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"

<form asp-controller="Home" asp-action="IndexMS" method="post">
    <select asp-for="CountryCodes" asp-items="Model.Countrys"></select> 
    <br /><button type="submit">Register</button>
</form>
