@page
@{
    Layout = null;  // clean up F12 tool network tab
}
@model MyStatusCode2Model
@{
    ViewData["Title"] = "Status Code @Model.ErrorStatusCode";
}
<head>
    <!-- prevent favicon.ico from being requested. -->
    <link rel="icon" href="data:,">
</head>

<h1 class="text-danger">Status Code: @Model.ErrorStatusCode</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <h3>Request ID</h3>
    <p>
        <code>@Model.RequestId</code>
    </p>
}

@if (Model.ShowOriginalURL)
{
    <h3>Original URL</h3>
    <p>
        <code>@Model.OriginalURL</code>
    </p>
}