@{
    ViewData["Title"] = "Contact";
}
@using MVCSample.TagHelpers;
@inject Microsoft.AspNetCore.Mvc.Razor.TagHelpers.ITagHelperComponentManager manager;
@{
    string markup;

    if (DateTime.Now.DayOfWeek == DayOfWeek.Saturday || DateTime.Now.DayOfWeek == DayOfWeek.Sunday)
    {
        markup = "<i class='text-warning'>Office closed today!</i>";
    }
    else
    {
        markup = "<i class='text-info'>Office open today!</i>";
    }

    manager.Components.Add(new AddressTagHelperComponent(markup, 1));
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address printable>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
