@model ContosoBooks.Models.Author

<div>
  <form asp-controller="Author" asp-action="Create" method="post">
    <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
    <div class="form-group">
      <label asp-for="LastName"></label>
      <input asp-for="LastName" class="form-control"/>
      <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
      <label asp-for="FirstMidName"></label>
      <input asp-for="FirstMidName" class="form-control" />
      <span asp-validation-for="FirstMidName" class="text-danger"></span>
    </div>
    <input type="submit" class="btn btn-default" value="Create" />
  </form>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}