@{
    Layout = null;
    var exception = ViewData["Exception"] as Exception;
}

<!DOCTYPE html>

<html>
<head>
    <title>Custom Error Page</title>
</head>
<body>
    <div>
        <h1>Custom Error Page</h1>
    </div>
    <footer>
        Exception Details: @exception.Message
    </footer>
</body>
</html>