@using System.Threading.Tasks
@using DependencyInjectionSample.Models
@model IEnumerable<DependencyInjectionSample.Models.Character>
@{
    ViewData["Title"] = "Characters";
}
<h1>Characters</h1>
<div class="row">
    <div class="col-md-12">
        <table>
            <tr>
                <th>Name</th>
            </tr>
            @foreach (var character in Model)
            {
                <tr>
                    <td>@character.Name</td>
                </tr>
            }
            <tr>
            </tr>
        </table>
    </div>
</div>
