@*
  
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@ 
@{
 
         // ViewBag.Title = "Home Page";
}

<h1>Order ID: @Model.OrderID</h1>