@page
@model RPcache.Pages.TestCacheModel
@{
    ViewData["Title"] = "TestCache";
}

<h3>Current Time: @DateTime.Now.TimeOfDay.ToString()</h3>
<h3>
    Cached Time: @Model.DateTime_Now <br />
    Cache size: @Model.cache_size
</h3>

<form method="post">
   
    <div class="form-group">
        <input type="submit" value="Delete" />
    </div>
</form>