@using Microsoft.Extensions.Options
@using UsingOptions.Models
@model MyOptions
@inject IOptions<MyOptions> OptionsAccessor

<!DOCTYPE html>
<!-- This view works with HomeController3.cs -->
<html lang="en">
<head>
    <title>Using Options sample app</title>
</head>
<body>
    <h1>Options</h1>

    <h2>Options provided by the model</h2>
    <p><b>Option1:</b> @Model.Option1</p>
    <p><b>Option2:</b> @Model.Option2</p>

    <h2>Options injected into the view</h2>
    <p><b>Option1:</b> @OptionsAccessor.Value.Option1</p>
    <p><b>Option2:</b> @OptionsAccessor.Value.Option2</p>
</body>
</html>
