@inject IJSRuntime JSRuntime
@using JsInteropClasses

<input ref="username" />
<button onclick="@SetFocus">Set focus on username</button>

@functions {
    private ElementRef username;

    public async Task SetFocus()
    {
        await username.Focus(JSRuntime);
    }
}
