@inject IJSRuntime JSRuntime
@using JsInteropClasses

<input @ref="_username" />
<button @onclick="OnClickMethod">Do something generic</button>

<p>
    _returnValue: @_returnValue
</p>

@code {
    private ElementReference _username;
    private string _returnValue;

    private async Task OnClickMethod()
    {
        _returnValue = await _username.GenericMethod<string>(JSRuntime);
    }
}
