@using HttpRequestsSample.GitHub

@model IEnumerable<GitHubBranch>

@if (@Model is null)
{
	<div class="alert alert-danger" role="alert">
		Unable to load branches from GitHub. Please try again later.
	</div>
}
else
{
	<p>@Model.Count() GitHub Branches</p>
	<ul class="list-group">
		@foreach (var gitHubBranch in @Model)
		{
			<li class="list-group-item">@gitHubBranch.Name</li>
		}
	</ul>
}
