@model ContosoUniversity.Models.Course

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Course</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="CourseID" />
        <div class="form-group">
            <label asp-for="CourseID" class="control-label"></label>
            <div>@Html.DisplayFor(model => model.CourseID)</div>
        </div>
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Credits" class="control-label"></label>
            <input asp-for="Credits" class="form-control" />
            <span asp-validation-for="Credits" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Department" class="control-label"></label>
            <select asp-for="DepartmentID" class="form-control" asp-items="ViewBag.DepartmentID">
                <option value="">-- Select Department --</option>
            </select>
            </div>
        </div>
        <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
