@{
    ViewData["Title"] = "MVC Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>MVC: Use this page to detail your MVC site's privacy policy.</p>

<img src="~/StaticFiles/images/red-rose.jpg" class="img" alt="A red rose" />