<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
</head>
<body>
<div class="container">
    @RenderBody()
</div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/knockout/dist/knockout.js"></script>
    <script src="~/lib/knockout.mapping/knockout.mapping.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
