@using System.Threading.Tasks
@using RepositoryPatternSample.Models
@model IEnumerable<RepositoryPatternSample.Models.Character>
@{
    ViewData["Title"] = "Repository Pattern Sample";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Characters</h2>
            </div>
            <div class="panel-body">
                <ul>
                    @foreach (var character in Model)
                    {
                        <li>
                            <td>@character.Name</td>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
