@{
    ViewData["Title"] = "Home Page";
}


<h2>Examples:</h2>
<ul>
    <li><a asp-controller="MyDependency" asp-action="Index">MyDependency</a></li>
    <li><a asp-controller="Operations" asp-action="Index">Operations</a></li>
</ul>
