@page

@{
	ViewData["Title"] = "Consumption patterns";
}

<h2>Consumption patterns</h2>
<ul>
	<li><a asp-page="./Basic">Basic usage</a></li>
	<li><a asp-page="./NamedClient">Named client</a></li>
	<li><a asp-page="./TypedClient">Typed client</a></li>
</ul>
