@page
@model HttpRequestsSample.Pages.NamedClientModel

@{
	ViewData["Title"] = "Consumption - Named";
}

<h1>Consumption patterns - Named client</h1>

@await Component.InvokeAsync("GitHubBranches", new { gitHubBranches = Model.GitHubBranches })
