@{
    ViewBag.Title = "Settings";
}
<h1>Settings</h1>
<table class="table">
    <tr>
        <th>Key</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>Twitter Key</td>
        <td>@ViewBag.TwitterApiKey</td>
    </tr>
    <tr>
        <td>Facebook Key</td>
        <td>@ViewBag.FacebookApiKey</td>
    </tr>
    <tr>
        <td>Google Key</td>
        <td>@ViewBag.GoogleAnalyticsKey</td>
    </tr>
</table>
