<!DOCTYPE html>

<html>
<head>
    <title>Filters Sample</title>
</head>
<body>
    <div>
        <h1>Filters Sample</h1>

       

        <ul>
            <li> <a asp-action="FilterTest">FilterTest</a></li>
            <li> <a asp-action="ServiceFilterTest">ServiceFilterTest</a></li>
            <li> <a asp-action="TypeFilterTest">TypeFilterTest</a></li>
            <li> <a asp-action="FilterTest2" asp-controller="Test">FilterTest 2</a></li>
        </ul>
    </div>
</body>
</html>