@using UsingOptions.Models
@model MyOptions

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
// ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
    <body>
        @Html.DisplayForModel()
    </body>
</html>

