@using RazorComponents.UIInterfaces
@implements IDisposable
@implements ITab

<li>
    <a onclick="@Activate" class="nav-link @TitleCssClass" role="button">
        @Title
    </a>
</li>

@functions {
    [CascadingParameter] private TabSet ContainerTabSet { get; set; }

    [Parameter]
    private string Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; private set; }

    private string TitleCssClass => ContainerTabSet.ActiveTab == this ? "active" : null;

    protected override void OnInit()
    {
        ContainerTabSet.AddTab(this);
    }

    public void Dispose()
    {
        ContainerTabSet.RemoveTab(this);
    }

    private void Activate()
    {
        ContainerTabSet.SetActivateTab(this);
    }
}
