@model WebApplication4.Models.ServerInfo
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h2>Server Name: @Model.Name</h2>
<h3>Software: @Model.Software</h3>

<p>Use this area to provide additional information.</p>

<button id="listButton" class="btn-success">List Processes</button>
<ul id="processList" class="list-group"></ul>

@section scripts {
    <script type="text/javascript">
			function bindData(element, data)
			{
				var items = [];
				items.push('<li class="list-group-item active">Processes</li>');
				$.each(data, function (id, option) {
					items.push('<li class="list-group-item">' + option.Name + '</li>');
				});
				element.html(items.join(''));

			}
			$(document).ready(function () {
				$("#listButton").bind("click", function (e) {
					$.ajax({
						url: "/api/processes",
						data: "",
						type: "GET",
						success: function (data) {
							bindData($("#processList"), data);
						}
					});
				});
			});
    </script>
}
