@inject IJSRuntime JSRuntime
@using JsInteropClasses

<button @ref="exampleButton" />

<button @onclick="TriggerClickEvent">
    Set button click on exampleButton
</button>

@code {
    private ElementReference exampleButton;

    public async Task TriggerClickEvent()
    {
        await exampleButton.TriggerClick(JSRuntime);
    }
}
