@inject IJSRuntime JSRuntime

<button @ref="exampleButton" />

<button @onclick="TriggerClick">
    Trigger button click on exampleButton
</button>

@code {
    private ElementReference exampleButton;

    public async Task TriggerClick()
    {
        await JSRuntime.InvokeVoidAsync(
            "exampleJsFunctions.clickElement", exampleButton);
    }
}
