@inject IJSRuntime JSRuntime

<button @ref="exampleButton" />

<button @onclick="TriggerClickEvent">
    Set button click on exampleButton
</button>

@code {
    private ElementReference exampleButton;

    public async Task TriggerClickEvent()
    {
        await JSRuntime.InvokeVoidAsync(
            "exampleJsFunctions.clickElement", exampleButton);
    }
}
