@inject IJSRuntime JSRuntime
@using JsInteropClasses

<button @ref="exampleButton" />

<button @onclick="TriggerClickEvent">
    Trigger button click on exampleButton
</button>

@code {
    private ElementReference exampleButton;

    public async Task TriggerClickEvent()
    {
        await exampleButton.TriggerClickEvent(JSRuntime);
    }
}
