@{
    ViewData["Title"] = "Home Page";
}
<h1>Application Model Samples</h1>
<ul>
    <li><a asp-controller="Home" asp-action="MyCoolAction">Custom Action Name</a></li>
    <li><a asp-controller="AppModel" app-action="Description">Application Description</a></li>
</ul>