@{
    ViewData["Title"] = "Home Page";
}
<h1>Application Model Samples</h1>
<ul>
    <li><a asp-controller="Home" asp-action="MyCoolAction">Custom Action Name</a></li>
    <li><a asp-controller="AppModel" asp-action="Description">Application Description</a></li>
    <li><a asp-controller="DescriptionAttributes" asp-action="Index">Controller Description</a></li>
    <li><a asp-controller="DescriptionAttributes" asp-action="UseActionDescriptionAttribute">Action Description</a></li>
    <li><a asp-controller="ParameterModel" asp-action="GetById">Parameter BinderModelName</a></li>
</ul>