<h1>Test Links</h1>

<ul>
    <ul class="nav navbar-nav">

        <li>
            <a href=@ViewData["url1"]>/Products0/list</a> &nbsp;
            <a href=@ViewData["url2"]>/Products0/edit/17</a>
        </li>
        <li>
            <a href=@ViewData["url3"]>/Products20/list</a> &nbsp;
            <a href=@ViewData["url4"]>/Products20/edit/17</a>
        </li>


    </ul>
</ul