@code {
    private class PasswordEntry : IComponent
    {
        [Parameter]
        public int Password { get; set; }

        [Parameter]
        public EventCallback<int> PasswordChanged { get; set; }

        public async Task SetParametersAsync(ParameterView parameters)
        {
            await Task.CompletedTask;
        }

        public void Attach(RenderHandle r) { }
    }
}

<!-- <snippet> -->
@page "/password-binding"

<h1>Password Binding</h1>

<PasswordEntry @bind-Password="password" />

<p>
    <code>password</code>: @password
</p>

@code {
    private string password = "Not set";
}
<!-- </snippet> -->
