@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Use this area to provide additional information.</p>

<div class="col-md-12">
    <form method="post">
        <input type="submit" id="send" value="Post" />
    </form>
    <p></p>
    <ul id="messages" style="list-style-type:none;"></ul>
</div>