@using SampleFacebookBirthdayApp.Models
@using Microsoft.AspNet.Facebook.Models
@using Microsoft.AspNet.Facebook
@model MyAppUser
@{
  ViewBag.Title = "Home Page";
}

<article class="intro">
  <span id="profilePicture">
    @if (Model.ProfilePicture != null && Model.ProfilePicture.Data != null)
    {
        <img class="img-responsive" src="@Model.ProfilePicture.Data.Url" />
    }
  </span>
  <h3>Welcome @Model.Name</h3>
</article>
<br/>
<br/>
<article>
  <label>Friends with upcoming birthdays</label>
  @Html.DisplayFor(m => m.Friends.Data, "Friends")
</article>