@{
  ViewBag.Title = "About";
}

<article class="intro">
  <h3>About</h3>
</article>
<div>
    <b>Contributions: </b><br/>
    <a target="_blank" href="https://www.facebook.com/yaohl">Yao Huang Lin</a> <br/>
    <a target="_blank" href="https://www.facebook.com/kirthik">Kirthi Krishnamraju</a>
</div>