@page
@model WebAddress.Pages.Adr2.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
@foreach (var item in Model.Address) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> <br>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> <br>
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
  
</table>
