<!DOCTYPE html>
<html lang="en">
    <head>
        <title>index</title>
    </head>
    <body>
        <h1>index</h1>
        <p>
            To execute the HTTP Handler ReportHandler for the .report extension, visit this url:
        </p>
        <a target="_blank" href="/x.report?title=abc">http://@Request.Url.Authority/x.report?title=abc</a>
    </body>
</html>

