@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<a asp-controller="bogus" asp-action="Register">Test</a>  

<p>Use this area to provide additional information.</p>
