@code {
    private class Address
    {
        public string Line1 { get; set; }
        public string Line2 { get; set; }
        public string City { get; set; }
        public string Country { get; set; }
    }

    private class Person
    {
        public Address Address { get; set; }
    }

    Person person = new();
}

<!-- <snippet> -->
@if (person.Address != null)
{
    <div>@person.Address.Line1</div>
    <div>@person.Address.Line2</div>
    <div>@person.Address.City</div>
    <div>@person.Address.Country</div>
}
<!-- </snippet> -->
