.wy-nav-content-wrap, .wy-nav-content {
    background: #fff;
}

body {
    font-family: 'Segoe UI',Tahoma,Arial,Helvetica,sans-serif;
    color: #222;
    font-size: .813em;
    line-height: 1.4em;
}

h1, h2, h3, h4, h5, h6, legend {
    margin-top: 0;
    font-weight: 700;
    font-family: 'Segoe UI Light','Segoe UI',Tahoma,Arial,Helvetica,sans-serif;
}

.wy-nav-side {
    background: #ddd;
}

.wy-side-nav-search {
    background: #f7f7f7;
    padding: 1em;
}

.wy-side-nav-search input[type=text] {
  width: 100%;
  border-radius: 0;
  padding: 6px 12px;
  border-color: #e2e2e2;
  font-family: 'Segoe UI',Tahoma,Arial,Helvetica,sans-serif;
  font-size: 14px;
  color: #707070;
}

.wy-side-nav-search .version {
	display: none;
}

.wy-side-nav-search > a, .wy-side-nav-search > a:hover
{
    text-indent: -9999px;
    width: 100%;
    background: url('nav-logo-microsoft.png') 1em no-repeat, 
                url('nav-logo-aspnet.png') right 1em center no-repeat;
    padding: 7px 23px 7px 10px;
}

.wy-side-nav-search > a:hover {
    background-color: transparent;
}

.wy-side-nav-search > a:before {
    content: "";
}

.wy-menu-vertical a {
  color: #222;
  font: 'Segoe UI',Tahoma,Arial,Helvetica,sans-serif;
  font-size: 14px;
}

.wy-menu-vertical a:hover, 
.wy-menu-vertical li.current a:hover, 
.wy-menu-vertical a:hover span.toctree-expand,
.wy-menu-vertical li.toctree-l2 a:hover span.toctree-expand,
.wy-menu-vertical li.toctree-l1.current>a.current,
.wy-menu-vertical li.toctree-l2.current>a {
    background-color: #0054a3;
    color: #fff;
}

.wy-menu-vertical li span.toctree-expand {
    margin-left: -0.9em;
    margin-right: 0.5em;
}

.rst-content h1, 
.rst-content h1 .headerlink
{
    font-size: 28px;
    color: #222222;
}

.rst-content h1 a.headerlink,
.rst-content h2 a.headerlink 
{
    display: inline;
}

.rst-content {
    font-size: 16px;
}

.rst-content .note {
    background: #efefef;
    font: 'Segoe UI',Tahoma,Arial,Helvetica,sans-serif;
}

.rst-content .note .admonition-title {
    background: #0054a3;
    font-weight: normal;
}

.rst-content .note .last {
    font: 'Segoe UI',Tahoma,Arial,Helvetica,sans-serif;
}

.rst-content .toctree-wrapper ul li a,
.rst-content .toctree-wrapper ul li a:hover,
.rst-content .toctree-wrapper ul li a:visited
{
    color: #267cb2;
}

.rst-content .toctree-wrapper ul li a:hover,
.rst-content .toctree-wrapper ul li a:visited
{
    text-decoration: underline;
}

.rst-content ul li.toctree-l1>a {
    font-weight: bold;
}

.rst-content ul li.toctree-l3 a {
    color: #777777;
}

.btn {
    border-radius: 0;
    border: none;
    box-shadow: none;
    font-family: 'Segoe UI',Tahoma,Arial,Helvetica,sans-serif;
}

.btn-neutral,
.btn-neutral:visited 
{
    background-color: #dddddd !important;
    color: #222222 !important;
}

.btn-neutral:hover {
    background-color: #0054a3 !important;
    color: #fff !important;
}