.wy-nav-content-wrap, .wy-nav-content {
    background: #fff;
}

body {
    font-family: 'Segoe UI',Tahoma,Arial,Helvetica,sans-serif;
    color: #222;
    font-size: .813em;
    line-height: 1.4em;
}

h1, h2, h3, h4, h5, h6, legend {
    margin-top: 0;
    font-weight: 700;
    font-family: 'Segoe UI Light','Segoe UI',Tahoma,Arial,Helvetica,sans-serif;
}

.wy-nav-side {
    background: #ddd;
    overflow-y: auto;
}

.wy-side-nav-search {
    background: #f7f7f7;
    padding: 1em;
}

.wy-side-nav-search input[type=text] {
  width: 100%;
  border-radius: 0;
  padding: 6px 12px;
  border-color: #e2e2e2;
  font-family: 'Segoe UI',Tahoma,Arial,Helvetica,sans-serif;
  font-size: 14px;
  color: #707070;
}

.wy-side-nav-search .version {
	display: none;
}

.wy-side-nav-search > a, .wy-side-nav-search > a:hover
{
    text-indent: -9999px;
    width: 100%;
    background: url('nav-logo-microsoft-white.svg') 1em no-repeat, 
                url('nav-logo-aspnet-white.svg') right 1em center no-repeat;
    padding: 7px 23px 7px 10px;
}

.wy-side-nav-search > a:hover {
    background-color: transparent;
}

.wy-side-nav-search > a:before {
    content: "";
}

.wy-menu-vertical a {
  color: #222;
  font: 'Segoe UI',Tahoma,Arial,Helvetica,sans-serif;
  font-size: 14px;
}

.wy-menu-vertical a:hover, 
.wy-menu-vertical li.current a:hover, 
.wy-menu-vertical a:hover span.toctree-expand,
.wy-menu-vertical li.toctree-l2 a:hover span.toctree-expand,
.wy-menu-vertical li.toctree-l1.current>a.current,
.wy-menu-vertical li.toctree-l2.current>a {
    background-color: #0054a3;
    color: #fff;
}

.wy-menu-vertical li span.toctree-expand {
    margin-left: -0.9em;
    margin-right: 0.5em;
}

.rst-content h1, 
.rst-content h1 .headerlink
{
    font-size: 28px;
    color: #222222;
}

.rst-content h1 a.headerlink,
.rst-content h2 a.headerlink 
{
    display: inline;
}

.rst-content {
    font-size: 16px;
}

.rst-content .note {
    background: #efefef;
    font: 'Segoe UI',Tahoma,Arial,Helvetica,sans-serif;
}

.rst-content .note .admonition-title {
    background: #0054a3;
    font-weight: normal;
}

.rst-content .note .last {
    font: 'Segoe UI',Tahoma,Arial,Helvetica,sans-serif;
}

.rst-content .toctree-wrapper ul li a,
.rst-content .toctree-wrapper ul li a:hover,
.rst-content .toctree-wrapper ul li a:visited
{
    color: #267cb2;
}

.rst-content .toctree-wrapper ul li a:hover,
.rst-content .toctree-wrapper ul li a:visited
{
    text-decoration: underline;
}

.rst-content ul li.toctree-l1>a {
    font-weight: bold;
}

.rst-content ul li.toctree-l3 a {
    color: #777777;
}

.btn {
    border-radius: 0;
    border: none;
    box-shadow: none;
    font-family: 'Segoe UI',Tahoma,Arial,Helvetica,sans-serif;
}

.btn-neutral,
.btn-neutral:visited 
{
    background-color: #dddddd !important;
    color: #222222 !important;
}

.btn-neutral:hover {
    background-color: #0054a3 !important;
    color: #fff !important;
}





/* helpfulness.css - start */
.helpfulness-container { background: #0054a3; padding:15px 0; color:#fff; z-index:201; width:100%; bottom:0; position:relative; }
.helpfulness-container.fixed { position:fixed; }
.helpfulness { margin: 0 auto; max-width:1160px; padding:0 20px; }
.helpfulness:after { clear: both;content: '.';display: block;visibility: hidden;height: 0; }
.helpfulness .helpfulness-form h2 { color:#fff; margin-bottom:0; margin-right:10px; float:left; font-size:18px; line-height:28px; }
.helpfulness .helpfulness-form span { line-height:28px; }
.helpfulness .common-btn { padding:5px 15px; margin: 0 10px 0 0; }
.helpfulness .common-btn.secondary { background-color: #777; }
.helpfulness .common-btn.secondary:hover { background-color: #888; }
.helpfulness .first { margin-left:10px; }
.helpfulness input { display:block; margin:10px 0 0; width:50%; padding:5px; font-family:"Segoe UI",Tahoma,Arial,Helvetica,sans-serif; color:#666; font-size:100%; border: 1px solid #d2d2d2; }
.helpfulness .helpfulness-form-no h2 { color:#fff; margin-bottom:10px; font-size:18px; line-height:28px; }
.helpfulness .helpfulness-form-no span { float:right; margin-right:50%; margin-top:10px; }
.helpfulness .helpfulness-form-no .common-btn {margin-top:10px;}
.helpfulness .messages { line-height:28px; }
a.helpfulness-close { position:absolute; right:15px; top:20px; color:#fff; font-size:20px; }
a.helpfulness-close:hover { text-decoration:none; color:#3BABD0; }

@media only screen and (max-width : 480px) {
	.helpfulness .helpfulness-form span { display: none; }
	.helpfulness .helpfulness-form-no span { margin-right:auto; }
	.helpfulness input {width:100%;}
}
/* helpfulness.css - end */

/* helpfulness.css overrides - start */
.helpfulness { max-width:none; }

.common-btn, .btn-install {background:#6CB200;color:#fff;border:0;padding:10px 15px;font-size:14px;display:inline-block;text-transform:uppercase;}
.common-btn:hover, .btn-install:hover {background-color:#89C33F;text-decoration:none;}
a.common-btn, a.btn-install { color: #fff;}

.helpful-text {text-align:right;margin:10px 0;}
/* helpfulness.css overrides - end */
