@{
    ViewData["Title"] = "CheckMsg";
}


<h3>@ViewData["CachedTime"] -- Cached Seconds</h3>
<h3>@ViewData["Message"] -- Eviction Message</h3>
<h3>@DateTime.Now.Second.ToString() -- Current Seconds</h3>