@model DateTime
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h3>@Model.TimeOfDay.ToString() -- Cached Time</h3>
<h3>@DateTime.Now.TimeOfDay.ToString() -- Current Time</h3>

<div>
    <ul>
        <li><a asp-area="" asp-controller="Home" asp-action="EvictionTime">EvictionTime</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="EvictDependency">EvictDependency</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="CancelTest">CancelTest</a></li>
    </ul>
</div>