@{
    ViewData["Title"] = "Home Page";
}


<h2>Examples:</h2>
<ul>
    <li><a asp-controller="Characters" asp-action="Index">Characters</a></li>
    <li><a asp-controller="Operations" asp-action="Index">Operations</a></li>
</ul>
