<!DOCTYPE html>

<html>
<head>
    <title>Filters Sample</title>
</head>
<body>
    <div>
        <h1>Filters Sample</h1>



        <ul>
            <li> <a asp-action="FilterTest">FilterTest</a></li>
            <li> <a asp-action="ServiceFilterTest">ServiceFilterTest</a></li>
            <li> <a asp-action="TypeFilterTest">TypeFilterTest</a></li>
            <li> <a asp-action="FilterTest2" asp-controller="Test">FilterTest 2</a></li>
            <li> <a asp-action="FilterTest2" asp-controller="Test2">Test2Controller</a></li>
            <li> <a asp-action="FilterTest2" asp-controller="Test3">3 Test3Controller</a></li>
            <li> <a asp-action="Index" asp-controller="Fail2">UnprocessableResultFilter filter.</a></li>
            <li> <a asp-action="CultureFromRouteData2" asp-controller="Home"> CultureFromRouteData</a></li>



        </ul>
    </div>
</body>
</html>