@page
@namespace AuthorizationSample.Pages.Private
@model PublicPageModel
@{
    ViewData["Title"] = "Private Folder: Public Page";
}

<h1>@ViewData["Title"]</h1>
<h2>@Model.Message</h2>

<p>
    The <i>Private</i> folder requires authorization, but this page allows anonymous visitors by convention:
    <code>
        options.Conventions.AllowAnonymousToPage("/Private/PublicPage");
    </code>
</p>
