<a asp-area="Products" asp-controller="Manage" asp-action="Index">Manage Products</a> |
<a asp-area="Products" asp-controller="Manage" asp-action="About">About Products</a> |
<a asp-area="Products" asp-controller="Home" asp-action="Index">Products Home</a> |
