@page "/BlazorRoute"
@page "/DifferentBlazorRoute"

<h1>Blazor routing</h1>

<p>
    Reach this page component on two routes, 
    <code>/BlazorRoute</code> and 
    <code>/DifferentBlazorRoute</code>.
</p>
<p>
    The routes are supplied to the component 
    using <code>@@page</code> directives:
</p>
<pre><code>@@page "/BlazorRoute"
@@page "/DifferentBlazorRoute"

&lt;h1&gt;Blazor routing&lt;/h1&gt;</code></pre>
