@using Microsoft.AspNetCore.Mvc.ViewFeatures
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

@await Html.PartialAsync("AuthorPartial")

@* RenderPartialAsync *@
@{
    await Html.RenderPartialAsync("AuthorPartial");
}