@page
@model Instructors.EditModel

@{
    ViewData["Title"] = "Edit Instructor";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Instructor.FirstName" class="control-label"></label>
                <input asp-for="Instructor.FirstName" class="form-control" />
                <span asp-validation-for="Instructor.FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Instructor.LastName" class="control-label"></label>
                <input asp-for="Instructor.LastName" class="form-control" />
                <span asp-validation-for="Instructor.LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Instructor.DateHired" class="control-label"></label>
                <input asp-for="Instructor.DateHired" class="form-control" />
                <span asp-validation-for="Instructor.DateHired" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <input type="submit" value="Submit with Invalid Date" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script src="~/js/submitInvalidDateHired.js"></script>
}
