@page
@namespace AuthorizationSample.Pages.Private.Public
@model PublicPageModel
@{
    ViewData["Title"] = "Private Folder: PublicPages Folder: Public Page";
}

<h1>@ViewData["Title"]</h1>
<h2>@Model.Message</h2>

<p>
    The <i>Private</i> folder requires authorization, but this page is inside a <i>PublicPages</i> folder that allows anonymous visitors by convention:
    <code>
        options.Conventions.AllowAnonymousToFolder("/Private/PublicPages");
    </code>
</p>
