@page
@model IndexModel
@{
    ViewData["Title"] = "Environment Sample";
}

<div class="row">
    <h1>Environments Sample</h1>
    <p>This sample demonstrates the concepts explained in <a href="https://docs.microsoft.com/aspnet/core/fundamentals/environments">Use multiple environments in ASP.NET Core</a>.</p>
</div>
