@{
    Layout = "";
}
<html>
<body ng-app="personApp">
    <div ng-view>

    </div>

    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-route/angular-route.js"></script>

    <script src="~/app/personModule.js"></script>
    <script src="~/app/personRoutes.js"></script>
    <script src="~/app/personListController.js"></script>
    <script src="~/app/personDetailController.js"></script>
</body>
</html>