@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>HttpClientFactory Samples</h1>
<p><a asp-page="BasicUsage">Basic usage of HttpClientFactory directly.</a></p>
<p><a asp-page="TypedClient">Using a typed client.</a></p>