@page
@model TypedClientModel
@{
}

<h1>Latest GitHub Issue for ASP.NET Docs</h1>

@if (Model.HasIssue)
{
    <h2>Title: @Model.LastestIssue.Title</h2>
    <p><a href="@Model.LastestIssue.Url">View Issue</a></p>
}
else
{
    <p>No issues found.</p>
}
