@page
@model AboutModel
@{
    ViewData["Title"] = "About SignalRChat";
}
<h2>@ViewData["Title"]</h2>

<p>This is a simple ASP.NET Core SignalR Chat example</p>
<p>
    This example demonstrates:
    <ul>
        <li>SignalR Startup</li>
        <li>Hubs</li>
        <li>JavaScript Client</li>
    </ul>
</p>
