---
uid: web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
title: "[How Do I:] Publish and Analyze Test Results? | Microsoft Docs"
author: rick-anderson
description: "Visual Studio Team System enables you to chart changes in a project's code quality as the project progresses. This video provides instructions on how to publ..."
ms.author: aspnetcontent
manager: wpickett
ms.date: 07/16/2007
ms.topic: article
ms.assetid: 9fb155e0-1379-482c-963d-af7dc0397d76
ms.technology: dotnet-webforms
ms.prod: .net-framework
msc.legacyurl: /web-forms/videos/vs-2005/how-do-i-publish-and-analyze-test-results
msc.type: video
---
[How Do I:] Publish and Analyze Test Results?
====================
by [Chris Menegay](https://twitter.com/CMenegay)

Visual Studio Team System enables you to chart changes in a project's code quality as the project progresses. This video provides instructions on how to publish test results to the Team Foundation Server project database and associate the results with a build number. We see that after the results are published we can use the Report Manager to view a graphical representation of changes in our build test results.

[&#9654; Watch video (7 minutes)](https://channel9.msdn.com/Blogs/ASP-NET-Site-Videos/how-do-i-publish-and-analyze-test-results)

>[!div class="step-by-step"]
[Previous](how-do-i-use-generic-tests.md)
[Next](how-do-i-discover-application-changes-prior-to-deployment.md)