@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-6">
        <h2>Total Users</h2>
        @ViewData["UserCount"] (Register to create users)
    </div>
    <div class="col-md-6">
        <h2>Hosting Environment</h2>
        @ViewData["Environment"]
    </div>
</div>
