@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<h2 class="text-danger">@ViewData["Title"]</h2>
<p class="text-danger">
    You do not have access to this resource.
</p>
