@page
@model RazorClassLib.MyFeature.Pages.Page1Model

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page1</title>
</head>
<body>
    <h2>Page 1 from RCL</h2>
</body>
</html>
