@page
@model NoScriptModel
@{
    ViewData["Title"] = "No JS script";
}
<h1>@ViewData["Title"]</h1>

<p>This page consists of 2 files:</p>

<ol>
    <li>NoScript.cshtml</li>
    <li>NoScript.cshtml.cs</li>
</ol>

<p>This page doesn't contain any JavaScript code of its own. Note that the ScriptTagHelper has omitted the script tag for <code>NoScript.cshtml.js</code>, because that file does not exist.</p>
