name: 'Status checker'

on: 
  pull_request_target:
    types: [opened, synchronize, reopened]

jobs:
  status_checker_job:
    name: Look for build warnings
    runs-on: ubuntu-latest
    permissions:
        statuses: write
        issues: write
        pull-requests: write
    steps:
    - uses: dotnet/docs-actions/actions/status-checker@main
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        docs-path: "aspnetcore"
        url-base-path: "aspnet/core"
