@page
@model RazorPagesContacts.Pages.Customers.CreateModel

<p>  Enter a customer name:</p>

<div asp-validation-summary="All"></div>
<form method="post">
    Name:
    <input asp-for="Customer.Name" />
    <input type="submit" />
</form>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
