@tagHelperPrefix "th:"
@{
    ViewData["Title"] = "About Th";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>


<th:bold>
   Use this area
   to provide additional
   information.
   </th:bold>
<p>
   <bold> Is this bold?</bold>
</p>
<p> This is not bold.</p>



