@*@removeTagHelper "UsingTagHelpers.TagHelpers.BoldTagHelper, UsingTagHelpers"*@
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>


<bold>
   Use this area
   to provide additional
   information.
   </bold>
<p>
   <bold> Is this bold?</bold>
</p>
<p> This is not bold.</p>