@{
    Layout = "";
}
<html>
<body ng-app="personApp">
    <h1>Components</h1>

	<person-component></person-component>
   
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/app/components.js"></script>
</body>
</html>