@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">ASP.NET Core</h1>
    <h2>Model Binding Sample App</h2>
    <br />
    <p>See the <a href="https://docs.microsoft.com/aspnet/core/mvc/models/model-binding">model binding documentation</a>.</p>
</div>
